@font-face {
  font-family: 'Hoves Light';
  src: url(../fonts/TT-Hoves-Light.woff) format("woff"),
  url(../fonts/TT\ Hoves-Light.otf)format('otf');
}
@font-face {
  font-family: 'Hoves Regular';
  src: url(../fonts/TT-Hoves-Regular.woff) format("woff"),
  url(../fonts/TT\ Hoves-Regular.otf)format('otf');
  
  
}
@font-face {
  font-family: 'Hoves Bold';
  src: url(../fonts/TT-Hoves-Bold.woff) format("woff"),
  url(../fonts/TT\ Hoves-Bold.otf)format('otf');
}