*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Hoves Regular", sans-serif;
  color: #333;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-light {
  font-size: 56px;
  font-weight: 300;
  color: #bdbdbd;
  font-family: "Hoves Light";
  margin-bottom: 0;
}
.text-bold {
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  color: #333;
  font-family: "Hoves bold";
  display: block;
}
.header {
  padding-top: 10px;
  &__logo {
    margin-left: 50px;
  }

  &__nav {
    width: 66%;
    padding-left: 18px;
  }
  &__list {
    display: flex;
    list-style: none;
    font-family: "Hoves regular";
    padding-left: 0;
  }
  &__item {
    margin-right: 53px;
    &_active {
      border-top: 1px solid #333;
      border-bottom: 1px solid #333;
    }
  }
  &__link {
    color: #333;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 2px;
  }
}
.header__item:hover {
  background-color: papayawhip;
  transition: all 0.2s ease;
}
.project-home {
  margin-bottom: 50px;
  &__control {
    height: 600px;
    align-self: flex-end;
    padding-top: 54px;
    margin-left: 54px;
    letter-spacing: 1.5px;
  }
  &__title {
    margin-top: 48px;
    padding-top: 45px;
  }
  &__arrows {
    display: flex;
    position: relative;
    margin-top: 85px;
  }
  &__num {
    color: #bdbdbd;
    max-width: 142px;
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    position: relative;
    font-size: 20px;
    padding: 3px 14px 0 3px;
    &::before {
      content: "";
      width: 40px;
      height: 2px;
      background-color: #e0e0e0;
      position: absolute;
      top: 58%;
      left: 29%;
      transform-origin: center;
      transform: rotate(-45deg);
    }
  }
  &__image {
    width: 770px;
    height: 750px;
    background-image: url(../img/main-screen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    margin: 23px 20px 0 0;
  }
}
.project-home-link {
  margin: 4px 0 0px 36px;
  text-align: center;
  padding-right: 35px;
  position: relative;
}
.project-home__image > .btn-white::after {

  right: 50px;
}
.btn-white {
  align-self: flex-end;
  max-width: 200px;
  width: 100%;
  height: 60px;
  line-height: 65px;
  border: none;
  font-size: 12px;
  background-color: #fff;
  color: #333333;
  position: relative;
  letter-spacing: 2px;
    &::after {
      content: "";
      background-image: url(../img/ico-shape-arrow.svg);
      width: 17px;
      height: 8px;
      position: absolute;
      right: 60px;
      top: 28px;
    }
}
.arrow-left,
.arrow-right {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f2f2f2;
}
.arrow-left {
  margin-right: 23px;
}
.project-home__arrows::before {
  content: "";
  width: 245px;
  height: 2px;
  background-color: #f2f2f2;
  position: absolute;
  right: -42%;
  top: 23px;
}
.arrow-active {
  background-color: #f9f9f9;
}
.about-us .btn-white {
  padding-right: 30px;
}
.about-us .btn-white::after {
  right: 60px;
  top: 27px;
}
.about-us {
  margin-bottom: 50px;
  & .flex-wrapper {
    justify-content: space-evenly;
    background-color: #fbfbfb;
  }
  &__images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 435px;
    max-width: 70%;
    margin-right: 50px;
    margin-top: 50px;
  }

  &__text {
    max-width: 400px;
    margin-left: 50px;
    padding: 0 20px;
  }

  &__title {
    margin: 0;
    font-size: 56px;
    letter-spacing: 1px;
    font-family: "Hoves Light";
    padding-top: 25px;
    padding-bottom: 15px;
  }

  &__description {
    font-size: 14px;
    font-family: "Hoves Light";
    margin-bottom: 10px;
    max-width: 330px;
    line-height: 23px;
  }
}
.about-us-img1 {
  max-width: 245px;
  margin-top: 40px;
  margin-right: 9px;
  margin-left: 16px;
  margin-bottom: 0;
}
.about-us-img2 {
  max-width: 245px;
  margin-top: 27px;
  margin-left: 16px;
}
.about-us-img3 {
  margin-left: 20px;
  max-width: 245px;
  margin-top: 67px;
  margin-right: 50px;
}
.main-task {
  &__title {
    margin-top: 102px;
    margin-left: 53px;
    letter-spacing: 1.3px;
    margin-bottom: 7px;
  }

  &__item {
    margin-left: 54px;
    font-family: "Hoves Light";
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  &__numb {
    font-size: 182px;
    font-family: "SF Pro";
    color: #f2f2f2;
  }

  &__text {
    max-width: 250px;
    display: inline-block;
    font-size: 20px;
    line-height: 33px;
    margin-left: 27px;
    margin-top: 17px;
  }
}
.width-text {
  line-height: 33px;
  font-size: 20px;
  max-width: 390px;
  width: 100%;
  display: inline-block;
  margin-left: 20px;
  margin-right: 45px;
  margin-top: 16px;
}
.our-projects {
  margin-bottom: 102px;
  &__title {
    margin-bottom: 55px;
    padding-top: 19px;
    padding-left: 14px;
    margin-left: 40px;
    letter-spacing: 1.3px;
  }
  &__cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 26px;
  }
  &__card {
    position: relative;
    overflow-y: hidden;
    margin-bottom: 20px;
    &_active {
      display: flex;
      padding: 0px 10px 0px 50px;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(51, 51, 51, 0.9);
      padding-top: 40px;
      letter-spacing: 1.5px;
      line-height: 59px;
      & span {
        font-size: 56px;
        font-family: "Hoves Bold";
        color: #fff;
        max-width: 413px;
        padding: 0;
        margin: 0;
        word-wrap: break-word;
      }
    }
  }
  &__details {
    text-decoration: none;
    color: #fff;
    display: block;
    align-self: flex-start;
    margin-left: 22px;
    font-family: "Hoves Light";
    letter-spacing: 2px;
    line-height: 45px;
    font-size: 11px;
    position: relative;
    &::after {
      content: "";
      background-image: url(../img/arrow-white.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      width: 21px;
      height: 10px;
      right: -31px;
      top: 16px;
    }
  }
}
.project-img3 {
  max-width: 246px;
  padding-top: 3px;
}
.project-img4 {
  max-width: 428px;
  padding-top: 3px;
}
.project-img5 {
  max-width: 336px;
  padding-top: 3px;
}
.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-right: 52px;
  margin-top: 4px;
}
.btn-black {
  outline: none;
  width: 202px;
  min-height: 66px;
  font-size: 11px;
  display: inline-block;
  background-color: #333333;
  color: #fff;
  letter-spacing: 2px;
  border: none;
  padding: 0;
  padding-right: 35px;
  & a {
    text-decoration: none;
    position: relative;
    color: #fff;
    &::after {
      content: "";
      width: 21px;
      height: 10px;
      background-image: url(../img/arrow-white.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      right: -32px;
      top: 2px;
    }
  }
}
.input::placeholder {
  content: "*";
  color: red;
}
.contacts {
  padding-bottom: 93px;
}
.contact-title {
  margin-left: 54px;
  letter-spacing: 1.2px;
}
.input-placeholder {
  position: relative;
}

.input-placeholder input:valid + .placeholder {
  display: none;
}
.input-placeholder input:valid + .placeholder {
  display: none;
}

.placeholder {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 20px;
  top: 15px;
  margin: auto;
  color: #8d8d8d;
  font-size: 14px;
  font-family: "Hoves Regular";
}
.project-img2 {
  max-width: 518px;
}
.project-img1 {
  max-width: 518px;
}

.placeholder span {
  color: red;
}
.form-text {
  max-width: 331px;
  font-size: 14px;
  font-family: "Hoves Regular";
  margin: 15px 0 20px 30px;
}
.submit-wrapper {
  justify-content: flex-start;
}
.contact-form {
  max-width: 355px;
  margin-top: 20px;
  margin-left: 54px;
  & input {
    width: 100%;
    height: 42px;
    margin-bottom: 8px;
    background-color: #f3f3f3;
    border: none;
    padding-left: 15px;
    outline: none;
  }
  & textarea {
    border: none;
    padding-left: 15px;
    padding-top: 15px;
    outline: none;
    background-color: #f3f3f3;
    width: 100%;
    max-height: 135px;
    resize: none;
  }
}
.textarea-wrapper {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 9px;
    background-image: url(../img/check.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: 4px;
    top: 53%;
  }
}
.btn-black.submit {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  position: relative;
  cursor: pointer;
  &::after {
    content: "";
    width: 21px;
    height: 10px;
    background-image: url(../img/arrow-white.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 45px;
    top: 28px;
  }
}
.form-img {
  align-self: flex-start;
  margin-right: 53px;
  margin-top: 20px;
  & img {
    max-width: 680px;
  }
}
.footer {
  background-color: #2c2c2c;
  color: #fff;
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: "hoves Bold";
    height: 300px;
    padding: 0;
  }
  &__img {
    width: 130px;
    height: 94px;
    margin-left: 37px;
    margin-top: -4px;
  }
}
.item-map {
  margin-bottom: 50px;
  padding-top: 5px;
  line-height: 22px;
  max-width: 237px;
  margin-left: 16px;
  font-size: 12px;
}
.footer-info {
  list-style: none;
  text-decoration: none;
  padding: 0;
  & li {
    font-family: "Hoves Regular";
    font-size: 12px;
    padding-right: 12px;
  }
  &__link {
    text-decoration: none;
    color: #fff;
  }
}

.footer-contacts {
  list-style-image: url(../img/footer/Vector-footer-map.svg);
  & li {
    font-family: "Hoves Regular";
    font-size: 12px;
    margin-right: 28px;
    padding-left: 12px;
    padding-right: 4px;
  }
}
.footer-numb {
  list-style-image: url(../img/footer/Vector-footer-phone.svg);
  font-family: "Hoves Regular";
  margin-bottom: 25px;
  padding-left: 60px;
}
.footer-email {
  list-style-image: url(../img/footer/Vector-footer-email.svg);
  font-size: 12px;
  margin-left: 26px;
  letter-spacing: 1.5px;
}

.footer__item {
  letter-spacing: 1px;
  margin-top: 52px;
  font-family: "Hoves Regular";
  font-size: 14px;
  line-height: 26px;
  & li {
    margin-top: 12px;
  }
}
.network-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  text-align: center;
  margin-right: 37px;
  margin-top: 6px;
  & li {
    margin-right: 37px;
  }
}
[src*="Linked-In"] {
  margin-right: -3px;
  margin-top: -2px;
  &:hover {
    transform: scale(1.2);
  }
}
[src*="twitter"] {
  margin-right: -2px;
  &:hover {
    transform: scale(1.2);
  }
}
[src*="facebook"] {
  margin-right: -2px;
  margin-top: -3px;
  &:hover {
    transform: scale(1.2);
  }
}
[src*="Shape"]:hover {
  transform: scale(1.2);
}
.network {
  margin-right: 54px;
}

.footer-copyright {
  padding: 25px 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "Open Sans";
  font-size: 11px;
  color: rgba(200, 200, 200, 0.5);
}
.footer-info{
  cursor: default;
}
.footer-info__link:hover {
  text-decoration: underline;
  
}
